{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <button class="new_user btn btn-rount form-control">
        <a href="{% url 'admin:product_create' category.pk %}">
            Новый продукт
        </a>
    </button>
    <div class="products_list">
        {% for object in objects %}
            <div class="product_record">
            <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="">
                <div class="product_name">{{ object.name|title }}</div>
                <div class="product_actions">
                    <button>
                        <a href="{% url 'admin:product_read' object.pk %}">Подробнее</a>
                    </button>
                    <button>
                        <a href="{% url 'admin:product_update' object.pk %}">Редактировать</a>
                    </button>
                    <button>
                        <a href="{% url 'admin:product_delete' object.pk %}">удалить</a>
                    </button>
                </div>
            <div class="summary">
                <b>Цена</b>
                <p>{{ object.price }} руб.</p>
            </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}